#board {
    border: 3px solid black;
    width: 700px;
    height: 500px;
    display:grid;
}
#instructions {
    border-bottom: 2px dashed blue;
    padding-bottom: 20px;
    text-align: center;
}
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
#controlbox {
    width: 200px;
    height: 250px;
    border: 3px solid black;
}
#cbtext {
    text-align: center;
}
#userInput {
    margin-bottom: 10px;
}
.pixColor {
    color: white;
}