#board {
    border: 3px solid black;
    width: 600px;
    height: 400px;
    display: flex;
}
#instructions {
    border-bottom: 2px dashed blue;
    padding-bottom: 20px;
    text-align: center;
}
#container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}